{% extends "frontend/content_base.html" %}

{% block subtitle %}About Us{% endblock %}

{% block content %}
            
  <h1>About Ascension Marketing & Distribution</h1>
  
  <div class="header-image">
    <img src="http://placehold.it/625x200">
  </div>

  <!-- start slipsum code -->
  <div class="about-text">
   
    <p><b>Ascension Marketing & Distribution</b> sells trendy clothing and
    apparel, such as casual and active wear, head gear, work out gear, baseball hats &
    jackets to an international market consisting of individuals of all ages, from all walks of
    life.</p>

    <p><b>Ascension</b> exclusively markets & distributes the product line ʺBurnablunt Clothing
    Companyʺ and commits a portion of the companyʹs sales revenues to sponsorship
    programs like Big Brothers & Big Sisters of America, United States Humane Society and
    scholarship opportunities for students of the Fashion Institute of Design &
    Merchandising.</p>
    
    <p><b>Ascension</b> is the brainchild of Robert W Snyder Jr, the companyʹs founder. While
    managing musical performance groups, entertainment events and promotional
    tours, Mr. Snyder developed the idea of promoting clothing lines to increasing revenue
    by selling tee shirts and sweat shirts. Mr. Snyder knew of a line that had very localized
    representation, even with internet presence he knew the line could be exploited with
    great success.</p>
    
    <p>After purchasing $500 in clothing (e.g., tee shirts and sweat shirts), Mr. Snyder had the
    apparel brought up to Northern California where it rapidly sold out. Long time friend
    of Mr. Snyder , James A. Stanley, approached Mr. Snyder about the gear. They had
    been talking about a forming a company for sometime in casual outings.</p>
    
    <p>Mr. Snyder and Mr. Stanley then decided that the idea of carrying the line and taking
    the marketing strategy one step further and distributing the entire clothing line
    ʺBurnablunt Clothing Companyʺ After brief negotiations with the Ryan Gates, owner
    of the Burnablunt trademark, it was mutually agreed that Mr. Snyder and Mr. Stanley
    would retain exclusive marketing rights, including creative freedom and use of the
    Burnablunt Clothing Company name. The exclusive arrangement propelled the launch
    of <b>Ascension Marketing & Distribution</b>.</p> 

  </div>

{% endblock %}
