<!DOCTYPE HTML>

<html>
  <head>
    <title>{% block head_title_base %}AMD | {% endblock %}{% block subtitle %}{% endblock %}</title>

    <script type="text/javascript" src="/static/js/slides.min.jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/style/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/style/content.css" />
    {% block css_extra %}
    {% endblock %}

  </head>

  <body>

    <div class="container">
      <div class="row" id="header">
        <div id="logo" class="span4">
          <a href="/"><img src="/static/img/logo.png" width="150" height="150" /></a>
        </div>
        <div id="nav" class="span12">
          <h1><a href="/"><span style="color:red">AMD</span> Ascension Marketing & Distribution</a></h1>
          <ul>
            <li><a href="/">Home</a> &#149; </li>
            <li><a href="/about/">About AMD</a> &#149; </li>
            <li><a href="/brands/">Our Brands</a> &#149; </li>
            <li><a href="/events/">What We're Doing</a> &#149; </li>
            <li><a href="/contact/">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="content-wrap">
      <div class="container" >
        <div class="row" id="content">
          
          <div class="span5" id="sidebar-container">
            <ul class="sidebar">
    
              <li><a href="/about/"><span>About Us</span></a></li>
              {% block about_subnav %}
              {% endblock %}

              <li>
              <a href="/brands/"><span>Our Brands</span></a>
              {% block brands_subnav %}
              {% endblock %}
              </li>

              <li><a href="/events/"><span>What We're Doing</span></a></li>
              {% block events_subnav %}
              {% endblock %}

              <li><a href="/contact/"><span>Contact Us</span></a></li>
              {% block contact_subnav %}
              {% endblock %}

            </ul>
          </div>
          
          {% block content_container %}         
          <div class="span11" id="text-content">
            {% block content %}
            {% endblock %}
            </div>
          </div>
          {% endblock %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span16" id="footer">
          (c) 2012 Ascension Marketing & Distribution
        </div>
      </div>
    </div>

    <script>
      $('.sidebar span').mouseenter(function() {
        $(this).animate({"padding-left": "35px"}, 150);
      }).mouseleave(function() {
        $(this).animate({"padding-left": "10px"}, 150);
      });
    </script>

</body>

</html>
