<!DOCTYPE HTML>

<html>
  <head>
    <title>Ascension Marketing & Distribution</title>

    <script type="text/javascript" src="static/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="static/js/slides.min.jquery.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>

    <link rel="stylesheet" type="text/css" href="static/style/main.css">
    <link rel="stylesheet" type="text/css" href="static/style/home.css">
    
  </head>

  <body>

  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    
    <div class="container">
    {% if get_flashed_messages() %}
    <div class="alert-message warning">
        <a class="close" href="#">x</a>
        {% for message in get_flashed_messages() %}
        <p><strong>{{ message }}</strong></p>
        {% endfor %}
    </div>
    {% endif %}
      <div class="row" id="header">
        <div id="logo" class="span4">
          <a href="/"><img src="static/img/logo.png" width="150" height="150" /></a>
        </div>
        <div id="nav" class="span12">
          <h1><a href="/"><span style="color:red">AMD</span> Ascension Marketing & Distribution</a></h1>
          <ul>
            <li><a href="/">Home</a> &#149; </li>
            <li><a href="/about/">About AMD</a> &#149; </li>
            <li><a href="/brands/">Our Brands</a> &#149; </li>
            <li><a href="/events/">What We're Doing</a> &#149; </li>
            <li><a href="/contact/">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="content-wrap">
      <div class="container">
        <div class="row">

          <div id="slideshow">

            <a href="#" class="prev">
              <img src="static/img/arrow-prev.png" />
            </a>

            <!-- Image size is 650x300 -->

            <div class="slides_container">
              <div>
                <a href="#"><img src="http://placehold.it/650x300" />
                <span class="caption">Caption for image one</span></a>
              </div>
              <div>
                <a href="#"><img src="http://placehold.it/650x300/000000/ffffff" />
                <span class="caption">Caption for image two</span></a>
              </div>
              <div>
                <a href="#"><img src="http://placehold.it/650x300/0000cc/ffffff" />
                <span class="caption">Caption for image three - lorem ipsum isum etc I am too lazy to open a gibberish text generator site :effort:</span></a>
              </div>
            </div>

            <a href="#" class="next">
              <img src="static/img/arrow-next.png" />
            </a>

          </div>

        </div>
      </div>
    </div> 

    <div class="container">
      <div class="row" id="bottom_row">
        <div class="span-one-third">
          <h2>News</h2>

          {% for entry in feed %}
            <h4><a href="{{ entry.url }}">{{ entry.post_date|datetimeformat }}</a></h4>
            <p>{{ entry.message }}</p>
          {% endfor %}

          <p class="fb_more"><a href="https://www.facebook.com/AscensionMD?sk=wall">See more on Facebook</a></p>
        </div>
        <div class="span-one-third">
          <h2>Events</h2>

          {% for entry in events %}
            <h4><a href="{{ entry.url }}">{{ entry.name }}</a></h4>
            <p>at <strong>{{ entry.location }}</strong><br />
            On {{ entry.start_date|datetimeformat }} from {{entry.start_time|datetimeformat("%H:%M:%S", "%I:%M %p")}} to {{entry.end_time|datetimeformat("%H:%M:%S", "%I:%M %p")}}</p>
          {% endfor %}

          <p class="fb_more"><a href="https://www.facebook.com/AscensionMD?sk=events">See more on Facebook</a></p>
        </div>
        <div class="span-one-third">
          <h2>About</h2>
          <p>AMD markets and distributes the newest and freshest concepts and ideas in the fashion industry. <a href="/about">Click here for more information.</a></p>

          <h2>Sign up for updates</h2>
          <div id="subscribe">
            <form action='/submit/' method="POST" id="signup-form">
              {{ form.hidden_tag() }}
              {{ form.csrf_token }}
              {{ form.email(id="email", value="Your Email Address", class="required email") }}
              {{ form.submit(id="email_register", class="btn danger submit") }}
            </form>
          </div>

          <div id="subscribe-success" style="display:none">Thanks for signing up! You'll get an email confirming your subscription shortly.</div>

          <div id="fb" class="fb-like" data-href="http://amd-sales.com/" data-send="true" data-layout="button_count" data-width="250" data-show-faces="true"></div> 

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span16" id="footer">
          (c) 2012 Ascension Marketing & Distribution
        </div>
      </div>
    </div>

    <script>
      $(function(){
        $('#slideshow').slides({
        preload: true,
        preloadImage: 'static/img/loading.gif',
        play: 4000,
        pause: 2500,
        paginationClass: "slide-pages", //renamed: was defaulting to Bootstrap's built in "pagination" class
        currentClass: "slide-current",
        hoverPause: true,
        animationStart: function(current){
          $('.caption').animate({
            bottom:-100
          },200);
        },
        animationComplete: function(current){
          $('.caption').animate({
            bottom:0
          },200);
        },
        slidesLoaded: function() {
          $('.caption').animate({
            bottom:0
          },200);
        }
      });
    });

      $("input#email").click(function() {
        if ($(this).val() == "Your Email Address") {
          $(this).val("");
        }
      });

      $("#signup-form").validate();
      $("#signup-form").submit(function (e) {

        e.preventDefault();

        if ($("#signup-form").valid()) {
          $.post("/submit/", {email: $("#email").val()},
            function (data) {
              if (data == 'True') {
                $("#subscribe").hide();
                $("#subscribe-success").show();
              }
            }
          );
        }
      });
    </script>
  </body>

</html>
