<!DOCTYPE HTML>

<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/style/main.css" />
    <script src="/static/js/jquery-1.7.1.min.js"></script>
    <style type="text/css">
      #admin {
        width:900px;
        margin:10px auto;
      }
      #admin-content {
        margin-top:10px;
      }
    </style>
  </head>
  <body>
  <div id="admin">
    <div class="metanav">
    {% if not session.logged_in %}
      <a href="/admin/login/">log in</a>
    {% else %}
      <a href="/admin/logout/">log out</a> - <a href="/admin/">admin home</a>
    {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    <div id="admin-content">
      {% block body %}{% endblock %}
    </div>
  </div>

  </body>
</html>

