{% extends "admin/admin_base.html" %}
{% block body %}
  <h1>Events list</h1>
  {% if events %}
    <ul>
    {% for event in events %}
      <li><a href="/admin/event/{{event.id}}">{{ event.title }}</a></li>
    {% endfor %}
    </ul>
    <a href="/admin/event/add">Create new...</a>
  {% else %}
    No events.
  {% endif %}
{% endblock %}