{% extends "admin/admin_base.html" %}
{% block body %}
<h1>Create Event</h1>
  {% if form.errors %}
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
      {%for error in field_errors %}
        <p class=error><strong>{{form[field_name].label}}: {{error}}</strong>
      {% endfor %}
    {% endfor %}
  {% endif %}
  <form action="/admin/event/add/" method="POST" >
    {{ form.hidden_tag() }}
    <fieldset>
      <div class="clearfix">
        <label for="title">{{ form.title.label }}</label>
        <div class="input">
          <input id="title" name="title" type="text" />
        </div>
      </div>

      <div class="clearfix">
        <label for="content">{{ form.content.label }}</label>
        <div class="input">
          <textarea id="content" class="xlarge" rows="3" name="content"></textarea>
        </div>
      </div>

      <div class="clearfix">
        <label for="gallery_title">{{ form.gallery_url.label }}</label>
        <div class="input">
          {{ form.gallery_url }}<br /><br />
          <a href="https://www.facebook.com/AscensionMD?sk=photos">View galleries on Facebook</a>
        </div>
      </div>

      <div class="actions">
        <input class="btn" id="submit" name="Submit" type="submit" value="Create" />
      </div>
    </fieldset>
  </form>
{% endblock %}
