{% extends "admin/admin_base.html" %}
{% block body %}
<h2>{{event.title}}</h2>
  <p><strong>Description: </strong> {{event.content}}</p>
  <p><a href="{{event.gallery_url}}">Gallery page</a> - <a href="#" id="del">Delete this event</a>

  <script>$("#del").click(function (e) {
    e.preventDefault();
    var del_confirm = confirm("Are you sure you want to delete this event?");
    if (del_confirm == true) {
      $.ajax({
        url: "/admin/event/{{event.id}}/",
        type: "DELETE",
        success: function () {
          window.location = "/admin/events/";
        }
      });
    }
  })</script>
{% endblock %}
