{% extends "admin/admin_base.html" %}
{% block body %}
  <h1>Admin interface</h1>
  <ul>
    <li><a href="/admin/events/">Events list</a></li>
    <li><a href="/admin/event/add">Create new event</a></li>
  </ul>
{% endblock %}