{% extends "admin/admin_base.html" %}
{% block body %}
<h2>Login</h2>
  {% if form.errors %}<p class=error><strong>Invalid Username or Password</strong>{% endif %}
  <form action="/admin/login/" method=post>
    {{ form.hidden_tag() }}
    <dl>
      <dt>{{ form.login.label }}
      <dd>{{ form.login }}
      <dt>{{ form.password.label }}
      <dd>{{ form.password }}
      <dt>{{ form.submit }}
    </dl>
  </form>
{% endblock %}
