{% extends "frontend/content_base.html" %}

{% block subtitle %}Events{% endblock %}



{% block content %}
            
  <h1>Events</h1>

  <p>Subheader! Text! Words! AMD goes places, I guess. Talk about that here.</p>

  <h2>Upcoming</h2>

  <p>Upcoming events. Could probably reuse code from index!</p>

  <h2>Past</h2>

  {% for event in events %}
    <h3>{{event.title}}</h3>
    <p>{{event.content}}</p>
    <div class="event-photos">
      {% for image in event.photos %}
        <img class="span3" src='{{image}}' />
      {% endfor %}
    </div>
  {% endfor %}

{% endblock %}
