@import "main.less";

ul {
  list-style-type: none;
}

#content {
  margin: 20px 0;
  background-color: white;
  .border-radius(5px);
}

#text-content {
  margin: 20px 0;
  img {
    margin-bottom:20px;
  }
  p {
    #font > .shorthand(normal, 16px, 24px);
    margin-bottom:24px;
    padding-right:10px;
  }
}

#sidebar-container {
  margin-left:0;
}

ul.sidebar {
  margin-top: 80px;
  list-style-type:none;
  margin-left:0px;
  padding:0;

  li {
    margin-top: 21px;
    font-size: 21px;
    margin-bottom:30px;

    a, a:visited {
      color: white;
      text-decoration: none;
    }

    span {
      background-color: @AMDred;
      padding: 8px 10px;
      width: relative;
    }
  }
  
}
