@import "main.less";

@width: 650px;

#content-wrap {
  margin-bottom:20px;
}


.prev, .next {
  display:block;
  position:absolute;
  top: 148px;
  left: -24px;
  width: 24px;
  height: 43px;
  z-index: 101;
}
.next {
  left:650px;
}

#slideshow {
  padding:20px 0;
  width:@width;
  margin:0 auto;
  position:relative;

  .slides_container {
    width:@width;
    margin:0 auto;
    display:none;

    div {
      width:@width;
      height:300px;
      display:block;
      position:relative;

      a:hover {
        text-decoration:none;
        .caption {
          background-color: darken(@AMDred, 5);
          opacity:1;
        }
      }

      .caption {
        position:absolute;
        bottom:0px;
        right:20px;
        margin-left:20px;

        background-color: rgb(243, 42, 39);
        background-color: rgba(243, 42, 39, 0.9);
        color:#fff;
        padding:10px;
        font-size:16px;
      }
    }
  }

  ul.slide-pages {
    margin:10px auto;
    list-style:none;
    text-align:center;

    li {
      margin-right:10px;
      display:inline-block;

      a {
        display:inline-block;
        width: 12px;
        height:12px;
        background-color:#ccc;
        color:#ccc;
        .border-radius(12px);
        overflow:hidden;
      }

      &.slide-current a {
        background-color: @AMDred;
        color: @AMDred;
      }
    }

  }
}

#bottom_row .span-one-third {

  border-top:4px @AMDred solid;

  background-color:#ededed;
  border-radius:0 0 6px 6px;

  h2, h4, p {
    padding: 2px 7px;
  }
  h2 {
    text-align:center;
  }
  input.email {
    margin-left:5px;
  }
  .btn {
    padding:5px 12px 6px;
  }
  label {
    width:100%;
    padding:0 5px;
    text-align:left;
    color: @AMDred;
  }
  #subscribe-success {
    display:none;
    text-align:center;
    padding-bottom:10px;
  }
}

.fb_more {
  text-align:center;
  margin-top:5px;
}

#fb {
  margin-left: 10px;
  margin-bottom: 10px;

}