@import "lib/bootstrap.less";

@AMDred: #f32a27;

a, a:visited {
  color: @AMDred;
  &:hover {
    color: darken(@AMDred, 17);
  }
}

#content-wrap {
  background-image:url("../background.png");
  background-color:#222;
}

#header {
  margin-top:0px;
  position:relative;
  height:170px;

  h1 a {
    color:@grayDark;
  }

  #nav {
    left:220px;
    top:46px;
    position:absolute;

    ul {
      font-size:18px;
      list-style-type:none;
      margin:0;
      li {
        display:inline;
        color:black;
      }
    }
  }
}


#footer {
  padding:20px 0;
  text-align:center;
}
